Q1. How do you comment code in Python? What are the different types of comments?

#Comments in Python are the lines in the code that are ignored by the interpreter during the execution of the program. Comments enhance the readability of the code and help the programmers to understand the code very carefully.
There are three types of comments in Python:

1)Single line Comments.
ex: # this is my first class of python.

2)Multiline Comments.

ex: #my name is shridhar.
    #working in bajaj steel industries.
    #i am from nagpur.
    
3)Docstring Comments.

ex: '''Takes in a number n, returns the square of n'''

Q2. What are variables in Python? How do you declare and assign values to variables?

In [3]:
#ANS :- 
#Variable in python : Integer, float , string, boolean , list , dictionary , tuple , set are the type of variable.

i = 10

In [4]:
i

10

Q3. How do you convert one data type to another in Python?

ANS:-
Python defines type conversion functions like int(), float(), str() to directly convert one data type into another. This type of conversion is also called typecasting because the user casts (change) the data type of the objects. This function converts any data type into integer.

In [8]:
a = 3.45

In [10]:
int(a)

3

In [13]:
type(int(a))

int

Q4. How do you write and execute a Python script from the command line?

In [28]:
'python second_world.py'
'hello second world'

'hello second world'

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [30]:
my_list = [1,2,3,4,5]
l1 = my_list[1:3:1]
l1

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In [31]:
#Complex numbers are created from two real numbers.
#It can be written in the form of (x + yj) where x and y are real numbers and j is an imaginary number which is the square root of -1.

a =4+5j

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [35]:
age = int(25)

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [37]:
price = 9.99

In [38]:
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [43]:
name = 'shridhar bende'

In [44]:
name

'shridhar bende'

Q10. Given the string "Hello, World!", extract the substring "World".

In [54]:
s = "hello, world"
s[7:12:1]

'world'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [62]:
is_student = True
print(is_student)

True